dagster>=1.13.23
dagster-postgres
dagster-graphql
dagster-dg-cli>=1.13.23
dagster-webserver
dagster-docker
dagster-ssh
dagster-polars>=0.27.12
trading212-rest
ghostfolio>=0.10.0
apprise>=2.0.0
lxml
mfinance-common@git+https://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@github.com/ms32035/mfinance-common.git
manalyst@git+https://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@github.com/ms32035/manalyst.git
adbc-driver-postgresql>=1.12.0
dataframe-image>=0.2.7
matplotlib #0
sqlalchemy<2.1
